<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServicesKXSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webserviceskx.somee.com/WebServicesKX.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServicesKXSoap"
                contract="ServiceReferenceKX.WebServicesKXSoap" name="WebServicesKXSoap" />
        </client>
    </system.serviceModel>
</configuration>